* {
    box-sizing:border-box;
    font-family: 'Open Sans', sans-serif;
  }
div.a {
    width:1200px;
    margin: auto;
    height:100px;
    border: solid 0px black;
}
div.a1a {
    float: left;
    width:30%;
    height:100px;
    border: solid 0px black;
}
div.a1aa {
    float: left;
    width:20%;
    height:100px;
    border: solid 0px black;
}
div.a1ab {
    float: left;
    width:80%;
    height:100px;
    border: solid 0px black;
}
div.a1aba {
    float: left;
    width:100%;
    height:50px;
    border: solid 0px black;
}
div.a1abb {
    float: left;
    width:100%;
    height:50px;
    border: solid 0px black;
    padding:0% 0% 30% 0%;
}
div.a1b {
    float: left;
    width:70%;
    height:100px;
    border: solid 0px black;
}
div.a1ba {
    float: left;
    width:85%;
    height:100px;
    border: solid 0px red;
    padding:0% 0% 0% 72%;
}
a.button {
    border: solid 1px red;
    background-color: red;
    text-align: center;
    line-height: 8;
    color: white;
}
div.a1bb {
    float: right;
    width:15%;
    height:100px;
    border: solid 0px red;
}
a.logoutsize {
    border: solid 1px red;
    width: 150px;
    background-color: white;
    text-align: center;
    line-height: 8;
    color: red;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    
}

div.b {
    width:1000px;
    margin: auto;
    height:1650px;
    border: solid 0px black;
    color:F8F8F8;
}
            
div.post {
    float: left;
    width:100%;
    height:400px;
    border: solid 0px black;
}
div.posta {
    float: left;
    border: solid 0px red;
    width:100%;
    height:100px;
}
div.postb {
    float: left;
    border: solid 0px red;
    width:100%;
    height: 200px;
}
div.postc {
    float: left;
    border: solid 0px red;
    height:100px;
    width:100%;
    padding:0% 0% 0% 96%;
}
a.postbutton {
    border: solid 0px red;
    background-color: red;
    text-align: center;
    line-height: 2;
    color: white;
    text-decoration: none;
    
    
}

div.b2a {
    float: left;
    width:100%;
    height:200px;
    border: solid 0px black;
}
div.b2aa {
    float: left;
    height: 50px;
    width:100%;
    border: solid 0px black;
    padding:0% 0% 0% 5%;
}
div.b2ab {
    float: left;
    height: 100px;
    width:100%;
    border: solid 0px black;
    padding:0% 5% 0% 5%;
}
div.b2ac {
    float: left;
    height: 50px;
    width:100%;
    border: solid 0px black;
    padding:0% 0% 0% 74%;
}
div.b2b {
    float: left;
    width:100%;
    height:200px;
    margin-top:18px;
    border:solid 0px black;
}
div.b2ba {
    float: left;
    height: 50px;
    width:100%;
    border: solid 0px black;
    padding:0% 0% 0% 5%;
}
div.b2bb {
    float: left;
    height: 100px;
    width:100%;
    border: solid 0px black;
    padding:0% 0% 0% 5%;
}
div.b2bc {
    float: left;
    height: 50px;
    width:100%;
    border: solid 0px black;
    padding:0% 0% 0% 74%;
}
div.b2c {
    float: left;
    width:100%;
    height:200px;
    margin-top:18px;
    border: solid 0px black;
}
div.b2ca {
    float: left;
    height: 50px;
    width:100%;
    border: solid 0px black;
    padding:0% 0% 0% 5%;
}
div.b2cb {
    float: left;
    height: 100px;
    width:100%;
    border: solid 0px black;
    padding:0% 0% 0% 5%;
}
div.b2cc {
    float: left;
    height: 50px;
    width:100%;
    border: solid 0px black;
    padding:0% 0% 0% 74%;
}
div.b2d {
    float: left;
    width:100%;
    height:200px;
    margin-top:18px;
    border:solid 0px black;
}
div.b2da {
    float: left;
    height: 50px;
    width:100%;
    border: solid 0px black;
    padding:0% 0% 0% 5%;
}
div.b2db {
    float: left;
    height: 100px;
    width:100%;
    border: solid 0px black;
    padding:0% 0% 0% 5%;
}
div.b2dc {
    float: left;
    height: 50px;
    width:100%;
    border: solid 0px black;
    padding:0% 0% 0% 74%;
}
div.b2e {
    float: left;
    width:100%;
    height:200px;
    margin-top:18px;
    border: solid 0px black;
}
div.b2ea {
    float: left;
    height: 50px;
    width:100%;
    border: solid 0px black;
    padding:0% 0% 0% 5%;
    color:#5D5D5D;
}
div.b2eb {
    float: left;
    height: 100px;
    width:100%;
    border: solid 0px black;
    padding:0% 0% 0% 5%;
}
div.b2ec {
    float: left;
    height: 50px;
    width:100%;
    border: solid 0px black;
    padding:0% 0% 0% 74%;
}
#foot{
    border: solid 1px #111;
    width: 100%;
    height: 200px;
    float: left;
    background-color: #373737;
    border: none;
    padding: none;
    margin:0px;
}
.foot1{
    height: 100%;
    width: 50%;
    float: left;
}
#f1{
    color: #FFFFFF;
    margin: 7% 0px 0px 10%;
    float: left;
}
#f2{
    color: #FFFFFF;
    margin: 7% 0px 30px 50%;
    font-size: 20px;
    line-height: 0px;
}
#f3 a{
    color: #FFFFFF;
}
#f3{
    color: #FFFFFF;
    margin: 0px 0px 0px 54%;
    font-size: 25px;
    line-height: 0px;
}
#yt{
    margin: 10% 0px 0px 10%;
}
#fb{
    float: left;
    margin: -3.2% 0px 0px 13.5%;
}

    

    
    
