* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
a {
    text-decoration: none;
}
input[type="submit"]{
    color: white;
    background-color:rgb(240,76,77);
    width: 25%;
    margin-left:25%;
    height:35px;
    
}
div.a {
    height: 170px;
    width:1200px;
    margin: auto;
    
}
div.a1 {
    float: left;
    width: 30%;
    margin-top: 60px;
    
}
div.a2 {
    float: left;
    width: 70%;
    height: 100%;    
}
div.a21 {
    float: right;   
    
    border: solid 1px red;
    color: rgb(240,76,77);
    margin-top:82px;
    margin-right: 115px;
    margin-left: 35px;
    padding: 0px 35px 4px 35px;
    font-size: 19px;
    
}
div.a22 {
    float: right;
    margin-right: 10px;
    height: 100%;    
    padding: 85px 0px 0px 128px;
    color: rgb(48,48,48);
    font-weight: bold;
    font-size: 19px;
       
}


div.un2{
    float: left;
    border: solid 2px rgb(48,48,48);
    width: 44px;
}
  
   
div.b {
    height: 650px;
    margin: auto;
    width: 1200px;
}
div.c {
    float: left;
    width: 22%;
    
}
div.d {
    float: left;
    width: 52%;
    height: 100%;
    
    background-color: rgb(248,248,248);
    padding-top:43px;
}
div.c1 {
    font-size:20px;
    margin-top: 55px;
    margin-right:84px;
    margin-left:120px;
    margin-bottom:40px;
    
    color: rgb(255,76,77);
    text-decoration: underline;
}
div.c2 {
    font-weight: bold;
    font-size:20px;
    color: black;
    margin-right:42px;
    margin-left: 120px;
    
}
div.un3 {
    display: inline-block;
     
}
div.un4 {
    display: inline-block;
} 
   

div.d1,div.d2,div.d3,div.d4,div.d5 {
    height: 15%;
    
}

div.d11{
    
    font-size: 19px;
    margin-left:25%;
    margin-bottom:8px; 
    
} 
div.d12 {
    margin-left:25%;
    width: 50%;
    border: solid 2px rgb(240,76,77);
}    
div.d21 {
    
    font-size: 19px;
    margin-left:25%;
    margin-bottom:8px; 
    
}    
div.d22 {
    margin-left:25%;
    width: 50%;
    border: solid 2px rgb(240,76,77);
    margin-bottom:10px;
}
    
div.d31 {
    
    font-size: 19px;
    margin-left:25%;
    margin-bottom:8px;
    
}
    
div.d32 {
    margin-left:25%;
    width: 50%;
    margin-bottom:10px;
    border: solid 2px rgb(240,76,77);
}
    
div.d41 {
    
    font-size: 19px;
    margin-left:25%;
    margin-bottom:8px;
    
}
    
div.d42 {
    margin-left:25%;
    width: 50%;
    margin-bottom:10px;
    border: solid 2px rgb(240,76,77);
    
}    
div.d51 {
    
    
    font-size: 19px;
    margin-left:25%;
    margin-bottom:8px;
    
}
div.d52 {    
    margin-left:25%;
    width: 50%;
    margin-bottom:10px;
    border: solid 2px rgb(240,76,77);
}

div.z1 {
    float: left;
}
div.z2 {
    float: left;
}  
div.z21 {
    font-weight: bold;
    font-size: 25px;
    margin-top: 9px;
}
   
div.z22 {
    font-weight: bold;
    font-size: 8px;
}       
div.line {
    position: relative;
    border-bottom: solid 1px rgb(42,41,43);
    top: 170px;
    
}    

       
    
        
    
         
            
    
        
        
