* {
    box-sizing: border-box;
}
div.a {
    height: 170px;
    border-bottom: solid 1px rgb(43,41,42);
}
div.a1 {
    float: left;
    width: 30%;
    height: 100%;
    border: solid 2px black;
}
div.a2 {
    float: left;
    width: 70%;
    height: 100%;
    
}
div.a21 {
    float: right;
    
    
    border: solid 1px red;
    color: rgb(240,76,77);
    margin-top:82px;
    margin-right:94.5px;
    margin-left: 35px;
    padding: 0px 35px 4px 35px;
    font-size: 19px;
    font-family: sans-serif;
}
div.a22 {
    float: right;
    width: 30%;
    height: 100%;    
    padding: 85px 0px 0px 128px;
    color: rgb(48,48,48);
    font-weight: bold;
    font-size: 19px;
    font-family: sans-serif;    
}

div.un {
    float: left;
    border-bottom: solid 3px rgb(48,48,48); 
}
div.un2{
    float: left;
}
  
   
div.b {
    height: 650px;
    
}
div.c {
    float: left;
    width: 22%;
    
}
div.d {
    float: left;
    width: 52%;
    height: 100%;
    
    background-color: rgb(248,248,248);
    padding-top:35px;
}
div.c1 {
    font-size:20px;
    margin-top: 42px;
    margin-right:84px;
    margin-left:120px;
    margin-bottom:52px;
    font-family: sans-serif;
    color: rgb(255,76,77);
    text-decoration: underline;
}
div.c2 {
    font-weight: bold;
    font-size:20px;
    color: black;
    margin-right:42px;
    margin-left: 120px;
    font-family: sans-serif;
}
div.un3 {
    display: inline-block;
    border-bottom: solid 3px rgb(48,48,48); 
}
div.un4 {
    display: inline-block;
} 
   

div.d1,div.d2,div.d3,div.d4,div.d5 {
    height: 15%;
    
}

div.d11{
    font-family: sans-serif;
    font-size: 19px;
    margin-left:145px;
    margin-bottom:10px; 
    
} 
div.d12 {
    margin-left:145px;
    width: 315px;
    border: solid 2px rgb(240,76,77);
}    
div.d21 {
    font-family: sans-serif;
    font-size: 19px;
    margin-left:145px;
    margin-bottom:10px; 
    
}    
div.d22 {
    margin-left:145px;
    width: 315px;
    border: solid 2px rgb(240,76,77);
    margin-bottom:10px;
}
    
div.d31 {
    font-family: sans-serif;
    font-size: 19px;
    margin-left:145px;
    margin-bottom:10px;
    
}
    
div.d32 {
    margin-left:145px;
    width: 315px;
    margin-bottom:10px;
    border: solid 2px rgb(240,76,77);
}
    
div.d41 {
    font-family: sans-serif;
    font-size: 19px;
    margin-left:145px;
    margin-bottom:10px;
    
}
    
div.d42 {
    margin-left:145px;
    width: 315px;
    margin-bottom:10px;
    border: solid 2px rgb(240,76,77);
    
}    
div.d51 {
    
    font-family: sans-serif;
    font-size: 19px;
    margin-left:145px;
    margin-bottom:10px;
    
}
div.d52 {    
    margin-left:145px;
    width: 315px;
    margin-bottom:10px;
    border: solid 2px rgb(240,76,77);
}
div.d61 {
    background-color: rgb(240,76,77);
    color: white;
    margin-left:145px;
    margin-right:410px;
    font-size:19px;
    font-family: sans-serif;
    padding-left:36px;
    padding-right:40px;
    margin-top: 10px;
    height: 35px;
    padding-top: 6px;
    
}

       
    
        
    
         
            
    
        
        
